# Server
PORT=8000
NODE_ENV=development

# MongoDB
MONGODB_URI=:''

# JWT
JWT_SECRET=''
JWT_EXPIRES_IN=''

# OpenAI
GROQ_API_KEY=''

// Email configuration
MAIL_HOST=''
MAIL_PORT=''
MAIL_USER=''
MAIL_PASS=''
# CORS
CORS_ORIGIN=''

# Razorpay
RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxxxx
RAZORPAY_KEY_SECRET=your_secret_key